1.	What are data structures, and why are they important?
  - Data structures store and organize data efficiently so programs can run faster and use less memory.
2.	Explain the difference between mutable and immutable data types with examples.
  - Mutable = can change (e.g., list, dict); Immutable = can’t change (e.g., string, tuple).
3.	What are main differences between lists and tuples in Python?
  - Lists are mutable and slower; Tuples are immutable and faster.
4.	Describe how dictionaries store data?
  - They store data as key-value pairs, like a label (key) with its info (value).
5.	Why might you use a set instead of a list in Python?
  - Sets remove duplicates automatically and are faster for checking if an item exists.
6.	What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters; unlike lists, strings can’t be changed (immutable).
7.	How do tuples ensure data integrity in Python?
  - Tuples can’t be changed, so data stays safe and constant.
8.	What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table stores data using a unique code (hash); Python dictionaries use this to find values fast.
9.	Can lists contain different data types in Python?
  - Yes, a list can mix strings, numbers, and more.
10.	Explain why strings are immutable in Python?
  - To save memory and allow sharing safely across the program.
11.	What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries find data faster using keys, while lists search by position.
12.	Describe a scenario where using a tuple would be preferable over a list?
  - Use a tuple when you don’t want the data to change, like (latitude, longitude).
13.	How do sets handle duplicate values in Python?
  - They remove duplicate values—sets only keep unique items.
14.	How does the “in” keyword work differently for lists and dictionaries?
  - For lists: checks if a value exists; For dicts: checks if a key exists.
15.	Can you modify the elements of a tuple? Explain why or why not?
  - No—tuples are immutable, so you can’t change their contents.
16.	What is a nested dictionary, and give an example of its use case?
  - A dictionary inside another one. Example: student = {"name": "John", "marks": {"math": 90}}
17.	Describe the time complexity of accessing elements in a dictionary.
  - O(1) – very fast, thanks to hashing.
18.	 In what situations are lists preferred over dictionaries?
  - When order matters or when storing simple sequences.
19.	Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Before Python 3.7, dicts didn’t remember order. Even now, you access data by key, not position.
20.	 Explain the difference between a list and a dictionary in terms of data retrieval.
  - List: get data by index (number); Dictionary: get data by key (name/label).

In [29]:
# 1. Write a code to create a string with your name and print it.
name = "Pavan Khamitkar"
print(name)

Pavan Khamitkar

In [30]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [31]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [32]:
# 4. Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [33]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [34]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [35]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [36]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [37]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [38]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
data = [10, 20, 30, 40, 50]
data.reverse()
print(data)

[50, 40, 30, 20, 10]

In [39]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [40]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [41]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [42]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [43]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [44]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [45]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [46]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [47]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [48]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
x = {1, 2, 3}
y = {2, 3, 4}
print(x.intersection(y))

{2, 3}

In [49]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [50]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [51]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
data = {'name': 'Alice', 'age': 30}
print(data["name"])

Alice

In [52]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info["age"]
print(info)

{'name': 'Bob', 'city': 'New York'}

In [53]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
print("city" in data)

True

In [54]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"name": "Om", "age": 25}
print(lst)
print(tup)
print(dct)

[1, 2, 3]
(4, 5, 6)
{'name': 'Om', 'age': 25}

In [55]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[40, 48, 61, 73, 88]

In [56]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [57]:
# 29. Write a code to combine two dictionaries into one and print the result.
a = {"x": 1, "y": 2}
b = {"z": 3}
combined = {**a, **b}
print(combined)

{'x': 1, 'y': 2, 'z': 3}

In [58]:
# 30. Write a code to convert a list of strings into a set.
items = ["pen", "pencil", "eraser", "pen"]
unique_items = set(items)
print(unique_items)

{'eraser', 'pen', 'pencil'}